<div class="WrapperPadding20-8-0-8 BreadCrumb">
    <h2>{{this.product?.Name}}</h2>
</div>
<div class="ColumnOneThird">
    <div class="WrapperPadding20-10-20-8">
        <a *ngIf="this.product?.MainPhotoId" class="MainPhoto" href="{{constants.API_URL}}/Resources/{{this.shop?.MerchantId}}/ProductPhoto/{{this.product?.MainPhotoId}}.{{this.product?.MainPhotoExtension}}" data-lightbox="productPhoto" title="{{this.product?.Name}}">
            <img src="{{constants.API_URL}}/Resources/{{this.shop?.MerchantId}}/ProductPhoto/{{this.product?.MainPhotoId}}_thumbnail_400x400.{{this.product?.MainPhotoExtension}}" width="400" height="400" alt="{{this.product?.Name}}" />
        </a>
        <ng-container *ngFor="let photo of this.product?.Photos">
            <a *ngIf="!photo.Main" class="Photo" href="{{constants.API_URL}}/Resources/{{this.shop?.MerchantId}}/ProductPhoto/{{photo.Id}}.{{photo.Extension}}" data-lightbox="productPhoto" title="{{photo.Description}}">
                <img src="{{constants.API_URL}}/Resources/{{this.shop?.MerchantId}}/ProductPhoto/{{photo.Id}}_thumbnail_100x100.{{photo.Extension}}" width="100" height="100" alt="{{photo.Description}}" />
            </a>
        </ng-container>        
    </div>
</div>
<div class="ColumnOneThird">
    <div class="WrapperPadding20-10">
        {{this.productFormattedDescription}}
    </div>
</div>
<div class="ColumnOneThird">
    <div class="WrapperPadding20-8-0-10">
        <button mat-raised-button color="primary" (click)="addToCart()">
            <mat-icon class="Margin0">shopping_cart</mat-icon>
            Add to cart
        </button>
    </div>
</div>
<div class="ClearLeft"></div>