<div class="ProductTile">
    <div class="WrapperPadding20">
        <a [routerLink]="['/product', product.Id, product.Name | SearchEngineFriendlyString]" title="{{product.Name}}">
            <strong>{{product.Name}}</strong>
            <img *ngIf="product.MainPhotoId" src="{{environment.API_URL}}/Resources/{{merchantId}}/ProductPhoto/{{product.MainPhotoId}}_thumbnail_400x400.{{product.MainPhotoExtension}}" width="400" height="400" alt="{{product.Name}}" />
            <img *ngIf="!product.MainPhotoId" src="/assets/images/NoProduct.png" width="400" height="400" alt="{{product.Name}}" />
        </a>
        <button *ngIf="product?.Stock == undefined || (product?.Stock && product?.Stock! > 0)" class="FloatRight" mat-raised-button color="primary" matTooltip="Add to cart" (click)="addToCart()">
            <mat-icon class="Margin0">shopping_cart</mat-icon>
        </button>
        <button *ngIf="product?.Stock != undefined && product?.Stock! <= 0" class="FloatRight" mat-raised-button color="disabled" matTooltip="Not in stock">
            <mat-icon class="Margin0">not_interested</mat-icon>
        </button>
        <span class="Price">Ɗ {{product.Price | number:'1.0-8'}}</span>
    </div>
</div>