<div id="TopBar">
  <div class="CenteredContainer">
    <div class="RightMenu">
      <mat-toolbar *ngIf="this.shop">
        <button *ngIf="!this.activeCustomer" mat-button (click)="signUp()">
          <mat-icon>account_box</mat-icon>
          Sign up
        </button>
        <button *ngIf="!this.activeCustomer" mat-button (click)="login()">
          <mat-icon>login</mat-icon>
          Customer login
        </button>

        <button *ngIf="this.activeCustomer" mat-button [matMenuTriggerFor]="Merchant">
          <mat-icon>account_box</mat-icon>
          USERNAME
        </button>
        <button mat-button [routerLink]="['/shopping-cart']" *ngIf="this.shoppingCart && this.shoppingCart.CumulativeItems > 0">
          Shopping cart
          <span class="Amount">{{this.shoppingCart.CumulativeItems}}</span>
        </button>

        <mat-menu #Merchant="matMenu">
          <button mat-menu-item [routerLink]="['/account/settings']">Settings</button>
          <button mat-menu-item [routerLink]="['/account/change-password']">Change password</button>
          <button mat-menu-item (click)="this.logout()">Log out</button>
        </mat-menu>
      </mat-toolbar>
    </div>

    <mat-toolbar>
      <button mat-button [routerLink]="['/']">
        <mat-icon class="Margin0">home</mat-icon>
      </button>
      <ng-container *ngFor="let category of this.categories">
        <ng-container *ngIf="category.Children">
          <button mat-button class="ToolbarItemNonCollapsible" [matMenuTriggerFor]="menu.buildMenu">
            {{category.Name}}
          </button>
          <app-menu-item #menu [categories]="category.Children"></app-menu-item>
        </ng-container>
        <ng-container *ngIf="!category.Children">
          <button mat-button class="ToolbarItemNonCollapsible" [routerLink]="['/category/' + category.Id + '/' + this.searchEngineFriendlyStringPipe.transform(category.Name)]">
            {{category.Name}}
          </button>
        </ng-container>        
      </ng-container>
      <button mat-button class="ToolbarItemNonCollapsible" *ngFor="let page of this.pagesTopBar" [routerLink]="['/page/' + page.Id + '/' + this.searchEngineFriendlyStringPipe.transform(page.Title)]">
        {{page.Title}}
      </button>

      <button mat-button [matMenuTriggerFor]="ControlPanel" class="ToolbarItemCollapsible">
        <mat-icon>menu</mat-icon>
        Menu
      </button>

      <mat-menu #ControlPanel="matMenu">
        <ng-container *ngFor="let category of this.categories">
          <ng-container *ngIf="category.Children">
            <button mat-menu-item [matMenuTriggerFor]="menu.buildMenu">
              {{category.Name}}
            </button>
            <app-menu-item #menu [categories]="category.Children"></app-menu-item>
          </ng-container>
          <ng-container *ngIf="!category.Children">
            <button mat-menu-item [routerLink]="['/category/' + category.Id + '/' + this.searchEngineFriendlyStringPipe.transform(category.Name)]">
              {{category.Name}}
            </button>
          </ng-container>
        </ng-container>
        <button mat-menu-item class="ToolbarItemNonCollapsible" *ngFor="let page of this.pagesTopBar" [routerLink]="['/page/' + page.Id + '/' + this.searchEngineFriendlyStringPipe.transform(page.Title)]">
          {{page.Title}}
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="ClearRight"></div>
  </div>
</div>
<header>
  <div class="CenteredContainer">
    <div class="TitleAndNavigation">
      <a id="Title" [routerLink]="['/']">
        <span>{{shop?.Name}}</span>
      </a>
      <ul>
        <li><a [routerLink]="['/']" [routerLinkActive]="['Active']" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li *ngFor="let page of this.pagesHeader">
          <a [routerLink]="['/page/' + page.Id + '/' + this.searchEngineFriendlyStringPipe.transform(page.Title)]" [routerLinkActive]="['Active']">{{page.Title}}</a>
        </li>
      </ul>
      <div class="ClearBoth"></div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<div id="BottomBar">
  <div class="CenteredContainer">
    <div class="WrapperPadding20-8">
      Powered by <a class="PoweredBy" href="{{constants.DGB_COMMERCE_URL}}" target="_blank"><img src="/assets/images/BottomBar Logo.png" width="23" height="32" alt="DGB Commerce" /> DGB Commerce</a>
      <ng-container *ngFor="let page of this.pagesFooter">
        | <a [routerLink]="['/page/' + page.Id + '/' + this.searchEngineFriendlyStringPipe.transform(page.Title)]" [routerLinkActive]="['Active']">{{page.Title}}</a>
      </ng-container>
    </div>
  </div>
</div>