<div id="TopBar">
  <div class="CenteredContainer">
    <div class="RightMenu">
      <mat-toolbar *ngIf="this.shop">
        <button *ngIf="!this.activeCustomer" mat-button (click)="signUp()">
          <mat-icon>account_box</mat-icon>
          Sign up
        </button>
        <button *ngIf="!this.activeCustomer" mat-button (click)="login()">
          <mat-icon>login</mat-icon>
          Customer login
        </button>

        <button *ngIf="this.activeCustomer" mat-button [matMenuTriggerFor]="Merchant">
          <mat-icon>account_box</mat-icon>
          USERNAME
        </button>
        <button mat-button [routerLink]="['/shopping-cart']">
          Shopping cart
          <span class="Amount">12</span>
        </button>

        <mat-menu #Merchant="matMenu">
          <button mat-menu-item [routerLink]="['/account/settings']">Settings</button>
          <button mat-menu-item [routerLink]="['/account/change-password']">Change password</button>
          <button mat-menu-item (click)="this.logout()">Log out</button>
        </mat-menu>
      </mat-toolbar>
    </div>

    <mat-toolbar>
      <button mat-button [routerLink]="['/']">
        <mat-icon class="Margin0">home</mat-icon>
      </button>
      <ng-container *ngFor="let category of this.categories">
        <ng-container *ngIf="category.Children">
          <button mat-button class="ToolbarItemNonCollapsible" [matMenuTriggerFor]="menu.buildMenu">
            {{category.Name}}
          </button>
          <app-menu-item #menu [categories]="category.Children"></app-menu-item>
        </ng-container>
        <ng-container *ngIf="!category.Children">
          <button mat-button class="ToolbarItemNonCollapsible" [routerLink]="['/category/' + category.Id + '/' + this.searchEngineFriendlyStringPipe.transform(category.Name)]">
            {{category.Name}}
          </button>
        </ng-container>
      </ng-container>

      <button mat-button [matMenuTriggerFor]="ControlPanel" class="ToolbarItemCollapsible">
        <mat-icon>menu</mat-icon>
        Categories
      </button>

      <mat-menu #ControlPanel="matMenu">
        <ng-container *ngFor="let category of this.categories">
          <ng-container *ngIf="category.Children">
            <button mat-menu-item [matMenuTriggerFor]="menu.buildMenu">
              {{category.Name}}
            </button>
            <app-menu-item #menu [categories]="category.Children"></app-menu-item>
          </ng-container>
          <ng-container *ngIf="!category.Children">
            <button mat-menu-item [routerLink]="['/category/' + category.Id + '/' + this.searchEngineFriendlyStringPipe.transform(category.Name)]">
              {{category.Name}}
            </button>
          </ng-container>
        </ng-container>
      </mat-menu>
    </mat-toolbar>

    <div class="ClearRight"></div>
  </div>
</div>
<div id="Header">
  <div class="CenteredContainer">
    <span>{{shop?.Name}}</span>
  </div>
</div>
<router-outlet></router-outlet>
<div id="BottomBar">
  <div class="CenteredContainer">
    <div class="WrapperPadding20-8">
      Powered by <a href="{{constants.DGB_COMMERCE_URL}}" target="_blank"><img src="/assets/images/BottomBar Logo.png" width="23" height="32" alt="DGB Commerce" /> DGB Commerce</a>
    </div>
  </div>
</div>