<div class="ProductTile">
    <button mat-icon-button class="FloatRight">
        <mat-icon color="primary">more_horiz</mat-icon>
    </button>    
    <h3 class="FileName">{{product.Name}}</h3>
    <a href="{{environment.API_URL}}/Resources/{{merchantId}}/ProductPhoto/{{product.MainPhotoId}}.{{product.MainPhotoExtension}}" data-lightbox="productPhoto" title="{{product.Name}}">
        <img src="{{environment.API_URL}}/Resources/{{merchantId}}/ProductPhoto/{{product.MainPhotoId}}_thumbnail_400x400.{{product.MainPhotoExtension}}" width="400" height="400" alt="{{product.Name}}" />
    </a>
    <p>{{product.Price}}</p>
</div>